@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 500vh;
}
.header-container {
    background-color: #fef9f6;
    height: 69vh;
}

ul li a {
    color: #5D5256;
}

.header-img {
    width: 60%;
    margin-left: 10em !important;
}

.header-col {
    margin-top: 5em;
}
button.btn-secondary {
    background-color: #FBBD93;
    border: none;
    padding: 8px 35px;
}

button.btn-secondary:hover {
    background-color: #FBBD93;
}
h1, h2, h3 {
    color: #55331C;
}

.services-row {
    margin-top: 5em;
}
ul li {
    list-style: none;
}

.icon-lis, .footer-li {
    margin: 0px 50px;
}

.icon-lis p{
    font-size: 0.8rem;
    margin-right: 6em;
}
.services-icon {
    width: 50%;
}

.first-lady {
    width: 70%;
}

.beauty-div {
    margin-top: 3em;
    margin-right: -5em;
}

h2.beauty-head {
    width: 30%;
}

.beauty-p {
    width: 90%;
}

p a {
    color: #FBBD93;
}

h3.gallery-h3 {
    text-align: center !important;
}

.img-container {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }


.box2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.box3 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.box4 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.testimonials-div {
    margin-top: 5em;
    background-color: #FEF9F6;
}

.testimonials-p{
    width: 100%;
}

textarea {
    font-family: inherit;
    background-color: #FEF9F6;
    padding-left: 1em;
    border: 1px solid #55331C;
    border-radius: 2px;
}
[type="email"], [type="text"] {
    padding: 10px 20px;
    border-radius: 2px;
    width: 100%;
    border: 0.5px solid #55331C;
    background-color: #FEF9F6;
}

[type="text"] {
    margin-top: 1em;
}

.last-btn {
    margin-top: 1em;
    width: 100%;
    color: #55331C !important;
    padding: 20px 40px !important;
}

footer {
    margin-top: 5em;
    background: #FBBD93;
    height: 70vh;
}

hr {
    border: 0.5px solid #55331C !important;
    width: 70%;
}

ul .media-icon-lis {
    margin: 0px 30px;
}

/* mobile view */
@media only screen and (max-width: 576px) {
    body {
        height: 200vh;
    }
    .header-container {
        height: 70vh; 
        margin-left: 0em !important;
        width: 71% !important;
    }
    .logo-img {
        width: 50%;
    } 

    h1 {
        font-size: 1.5rem !important;
    }

    h1,p {
        text-align: center;
        width: 90% !important;
    }
    .header-col p {
        font-size: 1rem;
        width: 50%;
    }
    .img-col {
        display: none;
    }

    button.btn-secondary {
        margin-left: 1em;
        padding: 8px 0px;
        width: 190px;
    } 
    .services-h3 {
        font-size: 1.2rem;
        width: 50%;
        margin-left: 2em;
    }

    .services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .icon-lis {
        width: 92%;
        margin-right: -8em;
    }

    .first-lady {
        width: 60%;
        margin-left: 2em;
    }

    .icon-lis p{
        font-size: .6rem;
        margin-left: -10em;
    }
    .services-icon {
        width: 20%;
    }

    .icon-lis {
        margin-left: -3em;
    }

    h2.beauty-head {
        width: 70%;
        font-size: 1.3rem;
        margin-left: 2em;
        font-weight: bold;
    }
    .read{
        text-align: center;
        margin-left: -1em;
    }
    .beauty-p {
        width: 60% !important;
        text-align: center;
        margin-left: 2em; 
    }

    h2.gallery-h2 {
        font-size: 1.2rem;
        width: 80%;
        font-weight: bold; 
    }

    .img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box1 img{
          height: 80%;
          width: 60%;
          margin-left: 2em;
          margin-bottom: -13em;
    }
    
    
    .box2 {
        width: 55%;
        margin-right: -5em;
    }

    .box2 img {
        width: 50%;
    }
    
    .box3 {
        width: 50%;
    }

    .box3 img{
        width: 55%;
        float: left;
        margin-left: -0.2em;
    }
    
    .box4 {
        width: 80%;
    }

    .box4 img{
        height: 80%;
        width: 76%;
        margin-left: -0.4em;
        margin-bottom: -10em;
  }

  .testimonials-div {
    margin-top: 5em;
    width: 74%;
    margin-left: -1.8em;
}

.testimonials-p{
    font-size: 1rem;
}

input{
    width: 60% !important;
}

textarea {
    width: 60%;
    height: 20vh;
}
[type="email"], [type="text"] {
    padding: 10px 20px;
    width: 60%;
}

[type="text"] {
    margin-top: .5em;
}

.last-btn {
    margin-top: -47em;
    width: 60% !important;
    color: #55331C !important;
    padding: 10px 10px !important;
    margin-bottom: -50em !important;
    margin-left: 0rem !important;
}


footer {
    background: #FBBD93;
    height: 70vh;
    /* margin-left: -2em !important; */
}

hr {
    width: 80%;
    margin-right: 0em;
    text-align: center;
    justify-content: center;
}

ul .media-icon-lis {
    margin: 0px 10px;
    width: 10%;
}
.footer-ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book, .test{
    width: 70%;
    font-size: 1.2rem;
    font-weight: bold;
}
}
